.profile_wrapper {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #ddd;
}

.user_info_wrapper {
    align-items: center;
}

p {
    /* 수평 중앙 정렬하기 */
    text-align: center;
}

.todo_wrapper {

}

.schedule_wrapper {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(7, minmax(20px, 1fr));
    grid-template-rows: repeat(24, minmax(20px, 1fr));
    gap: 0px;
    border: 1px solid #000;
    position: relative;
}

.grid_item {
    background-color: #D9D9D9;
    width: auto;
    height: auto;
    text-align: center;
    border: 1px solid #FFF;
}

.rectangle {
    background-color: rgba(76, 175, 80, 0.5); /* 투명한 초록색 */
    border: 1px solid #4CAF50;
}